{% extends "layout.html" %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Forgot Password?</h1>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" name="email" placeholder="">
            <label for="email">Email</label>
          </div>
        <a href="" class="btn btn-primary mb-3 w-100" type="submit">Submit</a>
      </form>
</div>


{% endblock content %}